<p>
  <strong>Landaddress:</strong>
  <%= @gnomeparcel.landaddress %>
</p>

<p>
  <strong>Open to visitors:</strong>
  <%= @gnomeparcel.open_to_visitors %>
</p>

<p>
  <strong>Open to new members:</strong>
  <%= @gnomeparcel.open_to_new_members %>
</p>

<p>
  <strong>Latlong:</strong>
  <%= @gnomeparcel.latlong %>
</p>

<p>
  <strong>Waterbodies:</strong>
  <%= @gnomeparcel.waterbodies %>
</p>

<p>
  <strong>Maps:</strong>
  <%= @gnomeparcel.maps %>
</p>

<p>
  <strong>Population:</strong>
  <%= @gnomeparcel.population %>
</p>

<p>
  <strong>Maxcapacity:</strong>
  <%= @gnomeparcel.maxcapacity %>
</p>

<p>
  <strong>Vision:</strong>
  <%= @gnomeparcel.vision %>
</p>

<p>
  <strong>Landhookups:</strong>
  <%= @gnomeparcel.landhookups %>
</p>

<p>
  <strong>Roadaccess:</strong>
  <%= @gnomeparcel.roadaccess %>
</p>

<p>
  <strong>Seasonalhazards:</strong>
  <%= @gnomeparcel.seasonalhazards %>
</p>

<p>
  <strong>Water:</strong>
  <%= @gnomeparcel.water %>
</p>

<p>
  <strong>Electric:</strong>
  <%= @gnomeparcel.electric %>
</p>

<p>
  <strong>Sewage:</strong>
  <%= @gnomeparcel.sewage %>
</p>

<p>
  <strong>Wifi:</strong>
  <%= @gnomeparcel.wifi %>
</p>

<p>
  <strong>User:</strong>
  <%= @gnomeparcel.user_id %>
</p>

<%= link_to 'Edit', edit_gnomeparcel_path(@gnomeparcel) %> |
<%= link_to 'Back', gnomeparcels_path %>
