<%= form_with(model: community) do |form| %>
  <% if community.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(community.errors.count, "error") %> prohibited this community from being saved:</h2>

      <ul>
        <% community.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :mission %>
    <%= form.text_area :mission %>
  </div>

  <div class="field">
    <%= form.label :calendar %>
    <%= form.text_area :calendar %>
  </div>

  <div class="field">
    <%= form.label :gnomeparcel_id %>
    <%= form.text_field :gnomeparcel_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
